body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: white;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}

/* 
    CONTAINER
*/

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container2 {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* 
    HEADER
*/

.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
}

.header_inner {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.header_logo {
    transition: opacity .2s linear;
}

.header_logo:hover {
    opacity: 0.65;
}

.olsogo {
    width: 165px;
    height: 50px;
}

/* 
    NAVIGATION
*/

.menu li {
    position: relative;
    list-style: none;
}

.menu__list {
    display: flex;
    font-weight: 700;
    margin-left: 30px;
}

.menu__list>li {
    margin-left: 30px;
}

.menu__link {
    color: rgb(37, 37, 37);
    text-decoration: none;
    font-size: 14px;
    opacity: 100;
    transition: opacity .2s linear;
    cursor: pointer;
}

.menu__link:first-child {
    margin-left: 0px;
}

.menu__link:hover {
    opacity: 0.7;
}

.sub-menu__list {
    position: absolute;
    left: -15px;
    padding-bottom: 16px;
    background-color: #fff;
    border-radius: 20px;
    display: none;
}

.sub-menu__list>li {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 60px;
    display: inline-block;
    min-width: 150px;
}

.sub-menu__link {
    color: rgb(37, 37, 37);
    text-decoration: none;
    font-size: 14px;
    opacity: 100;
    transition: opacity .2s linear;
}

.sub-menu__link:hover {
    opacity: 0.7;
}

ul {
    padding-inline-start: 0px;
}

/* 
    INTRO
*/

.intro {
    background-image: url(../images/about1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 120px;
}

.intro_inner {
    width: 100%;
    text-align: center;
    max-width: 500px;
    margin-left: 40px;
}

.intro_title {
    text-align: left;
    margin-bottom: 0;
    font-size: 65px;
}

.intro_title2 {
    text-align: left;
    margin-top: 0px;
    font-size: 25px;
}

.btn {
    margin-left: -25px;
    margin-top: 15px;
    margin-bottom: 80px;
    display: inline-block;
    vertical-align: top;    
    padding: 14px 40px;
    
    color: white;
    font-family: 'OpenSans', sans-serif;
    font-weight: normal;
    border: 0;
    cursor: pointer;
    outline: none;
    
    background-color: #00ce6b;
    text-decoration: none;
    border-radius: 30px;
    text-decoration: none;

    transition-property: color, background;
    transition-duration: 220ms;
    transition-timing-function: linear;
}    

.btn:hover {
    color: black;
    background-color: white;
}

/* MARKET */

.market {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 0 0px;
}

.market_maintable {
    width: 33.333%;
    justify-content: right;
    align-content: center;
    text-align: center;
    padding-bottom: 50px;
    transition: box-shadow 1s ease-in-out;
    border-radius: 100px;
}

.market_maintable:hover {
    box-shadow: 0px 0px 100px rgba(217, 255, 217, 0.658);
}

.market_table{
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 70px;
    height: 320px;
}

.market_maintext {
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 0 50px;
    line-height: 30px;
}

.market_border {
    border-bottom:  #00ce6b 1px solid;
    border-width: 3px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 40px;
}

.market_text {
    color: black;
    padding: 0 50px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 50px;
}

/* BUTTONS */

.btn_2 {
    display: inline-block;    
    vertical-align: top;
    padding: 14px;
    padding-left: 30px;
    padding-right: 26px;
    letter-spacing: 4px;

    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'OpenSans', sans-serif;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
    
    background-color: #00ce6b;
    text-decoration: none;
    border-radius: 30px;

    transition: all 0.5s;
}    

.btn_2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.btn_2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.btn_2:hover span {
    padding-right: 25px;
}
  
.btn_2:hover span:after {
    opacity: 1;
    right: 0;
}

/* ABOUT */

.about {
    margin-top: 140px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 740px;
}

.about_bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.about_top-text {
    color: black;
    font-size: 19px;
    font-weight: 400;
    margin-top: 55px;
}

.about_big-text {
    color: black;
    font-weight: 600;
    padding-right: 580px;
    font-size: 40px;
    margin: 105px auto 45px;
}

.about_info-text {
    color: black;
    font-size: 15px;
    font-weight: 300;
    padding-right: 660px;
    line-height: 25px;
}

.about_btn {
    margin-top: 30px;
    max-width: 550px;
    text-align: center;
}

.about_nurse {
    width: 500px;
    text-align: right;
    display: none;
}

/* WORK */

.work {
    padding-top: 100px;
    padding-bottom: 119px;
    background: #f0f0f0;
}

.work_main {
    color: #333333;
    text-align: center;
}

.work_vakansii {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 600;
}

.work_chlen {
    font-size: 48px;
    font-weight: 500;
}

.work_info {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    padding: 0 220px;
    margin-bottom: 40px;
}

.btn_3 {
    display: inline-block;    
    vertical-align: top;
    padding: 14px;
    padding-left: 30px;
    padding-right: 26px;
    letter-spacing: 4px;
    text-decoration: none;

    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'OpenSans', sans-serif;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
    
    background-color: #aaaaaa;
    text-decoration: none;
    border-radius: 2px;

    transition: all 0.5s;
}    

.btn_3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.btn_3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.btn_3:hover span {
    padding-right: 25px;
}
  
.btn_3:hover span:after {
    opacity: 1;
    right: 0;
}

/* SERTIFICATION */

.documents {
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 70px;
    margin-bottom: 110px;
}

.documents_top-text {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    text-align: center;
    margin-bottom: 70px;
}

.documents_list {
    display: flex;
    justify-content: center;
}

.documents_doc {
    box-shadow: 0px 8px 19px -10px rgba(0, 0, 0, 0.679);
    width: 180px;

    transition-property: transform, box-shadow;
    transition-duration: 600ms;
    transition-timing-function: ease;
}

.documents_doc:hover {
    transform: scale(1.12);
    box-shadow: 0px 8px 80px -10px rgba(0, 0, 0, 0.205);
}

.documents_doc_a {
    margin: 0 40px;
}

/* CONTACTS */

.contacts_container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}

.contacts_zero {
    display: none;
}

.contacts_bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.office {
    text-align: center;
    justify-content: center;
    border-radius: 100px;
    padding: 110px 100px;
    background-color: #fff;
    width: 40%;
    margin-right: 60px;

    transition: box-shadow 1s ease-in-out;
}

.office:hover {
    box-shadow: 0px 0px 100px rgba(217, 255, 217, 0.6);
}

.office_border {
    border-bottom:  #00ce6b 1px solid;
    border-width: 3px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-left: 41%;
    margin-right: 41%;
    margin-bottom: 0px;
}

.office_main-text {
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 16px;
    margin-top: 0px;
}

.office_number-text {
    color: #333333;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 70px;
    text-decoration: none;
}

.office_number-text:hover {
    text-decoration: underline;
}

.office_info-text {
    color: #333333;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 70px;
}

.office_info-text1 {
    margin-bottom: 0;
    color: #333333;
    font-weight: 400;
    margin-top: 18px;
    text-decoration: none;
}
.office_info-text1:hover {
    text-decoration: underline;
}

.contacts {
    text-align: center;
    justify-content: center;
    border-radius: 100px;
    padding: 110px 100px;
    background-color: #fff;
    width: 40%;
    margin-left: 60px;

    transition: box-shadow 1s ease-in-out;
}

.contacts:hover {
    box-shadow: 0px 0px 100px rgba(217, 255, 217, 0.6);
}

.contacts_form {
    text-align: center;
}

.form_name,
.form_name2 {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 30px;
    
    outline: none;
    width: 270px;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;

    border-style: double;

    color: black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid #00ce6b;
}

.form_name:focus, .form_name2:focus {
    border-bottom-color: #474747;
}

.form_name2 {
    margin-top: auto;
    margin-bottom: 30px;
}

.form_name::placeholder, .form_name2::placeholder {
    color: #474747;
}

.btn_form {
    display: inline-block;    
    vertical-align: top;
    padding: 14px;
    padding-left: 30px;
    padding-right: 26px;
    margin-top: 40px;
    letter-spacing: 4px;

    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'OpenSans', sans-serif;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
    
    background-color: #00ce6b;
    text-decoration: none;
    border-radius: 2px;

    transition: all 0.5s;
}    

.btn_form span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.btn_form span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.btn_form:hover span {
    padding-right: 25px;
}
  
.btn_form:hover span:after {
    opacity: 1;
    right: 0;
}

/* POPUP WINDOW */

.overlay {
    position: fixed;
    background: rgba(0,0,0,.7);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor: pointer;
    display: none;
}

.popup {
    width: 460px; height: fit-content;
    padding: 80px 70px;
    border-radius: 65px;
    border-top-left-radius: 65px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    background: #fff;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    background-color: #FFF;
    cursor: default;
}

.close-popup {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #000;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #000;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

.popup_text {
    color:#242424;
    cursor: text;
    text-align: center;
    margin-top: 0px;
}

.popup_text2 {
    color: #242424;
    cursor: text;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.popup_border {
    border-bottom:  #00ce6b 1px solid;
    border-width: 3px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 0px;
}

/* FOOTER */

.footer {
    background-color: #242424;
    margin: 0 auto;
    padding: 5px 0;
}

.footer_copy {
    font-weight: 300;
    letter-spacing: 1px;
}

/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */

/* 
    INTRO
*/

.a_intro {
    height: 525px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../images/about_bg_2.png);
}

.a_intro_sides {
    display: flex;
    justify-content: center;
}

.a_intro_rigth {
    position: relative;
    margin-left: 60px;
}

.a_intro_serf1 {
    position: relative;
    width: 200px;
    z-index: 5;
    top: 0;

    box-shadow: rgba(0, 0, 0, 0.274) 0px 0px 30px;

    transition-property: top, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.a_intro_serf2 {
    position: relative;
    top: 4px;
    width: 150px;
    z-index: 4;
    left: -10px;
    transform:rotate(3deg);

    box-shadow: rgba(0, 0, 0, 0.274) 0px 0px 30px;

    transition-property: top, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.a_intro_serf1:hover, .a_intro_serf2:hover {
    box-shadow: rgba(0, 0, 0, 0.137) 0px 0px 66px;
    top: -7px;
    cursor: pointer;
}

.a_intro_gerb {
    position: absolute;
    width: 40px;
    top: 235px;
    left: 180px;
    z-index: 6;
    transform:rotate(2deg);
}

.a_intro_title {
    text-align: left;
    width: 585px;
    margin: 0;
    font-size: 42px;
    color: black;
}

.a_intro_smalltext {
    color: #42414d;
    width: 580px;
    text-align: left;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
}

/*
    SERVICES
*/

.a_services {
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
}

.a_laboratory_img {
    position: relative;
}

.overflow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: linear-gradient(to top, white 10%, transparent 30%);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: filter .4s ease;
}

.a_laboratory_img:hover .a_service_img {
    filter: brightness(0.7);
}

.overflow:hover {
    filter: brightness(1);
}

.a_service_img {
    width: 400px;
    border-radius: 20px;
    transition: filter .4s ease;
}

.a_service_img:hover {
    opacity: 0.7;
}

.a_laboratory_text_rigth {
    color: black;
    margin-left: 80px;
}

.a_labaratory_toptext_rigth {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 32px;
}

.a_laboratory_smalltext_rigth {
    margin-top: 15px;
    color: #42414d;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    width: 470px;
    margin-bottom: 28px;
}

.a_laboratory_link_rigth {
    text-decoration: none;
    color: #2bc77c;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}

.a_laboratory_link_rigth:hover {
    text-decoration: underline;
    color: #2c2c2c;
}

.a_laboratory_text_left {
    color: black;
    margin-right: 80px;
}

.a_labaratory_toptext_left {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 32px;
}

.a_laboratory_smalltext_left {
    margin-top: 15px;
    color: #42414d;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    width: 470px;
    margin-bottom: 28px;
}

.a_laboratory_link_left {
    text-decoration: none;
    color: #2bc77c;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}

.a_laboratory_link_left:hover {
    text-decoration: underline;
    color: #2c2c2c;
}

/*
    A - ACCORDION 
*/

.accordion {

}

.accordion-item {
    margin-bottom: 20px;
}

.accordion-item_active .accordion-item_trigger {

}

.accordion-item_active.accordion-item_content {
    transition: height 1s ease;
}

.accordion-item_text {
    font-size: 20px;
    font-weight: 700;
}

.accordion-item_content_text {
    font-size: 16px;
    padding: 0px 0px 0px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.accordion-item_trigger {
    color: black;
    padding: 10px 30px;
    border-radius: 25px;
    border: 1px solid #474747;
}

.accordion-item_content {
    overflow: hidden;
    color: black;
    transition: height 1s ease;
}

/* 
    A - INFORMATION
*/

.info {
    color: black;
    margin: 80px auto;
}

.info_top-text {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: #242424;
    padding-bottom: 10px;
}

.info_main-text {
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.info_a_border {
    border-bottom: #00ce6b 1px solid;
    border-width: 4px;
    margin-right: 55%;
    margin-bottom: 110px;
}

/* A - CONTACTS */

.a_contacts_bg {
    background-size: cover;
    background-repeat: no-repeat;
}

/* A-SERTIFICATION */

.a_documents_top-text {
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 600;
    color: #1b1b1b;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 0px;
}

.a_documents-top {
    padding-bottom: 1px;
    padding-top: 10px;
}

.a_documents {
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: -25px;
    margin-bottom: 95px;
}


/* LEGISTATION LEGISTATION LEGISTATION LEGISTATION LEGISTATION LEGISTATION */

.legacy {
    margin-bottom: 100px;
}

.legacy_top-text {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    color:black;
}

.l_border {
    border-bottom: #00ce6b 1px solid;
    border-width: 4px;
    margin-left: 40%;
    margin-right: 25%;
    margin-bottom: 70px;
}

.legacy-text {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.legacy-text:hover {
    text-decoration: underline;
    color: #28925f;
}

.l_ul {
    list-style: disc;
    color: black;
   }

.l_contacts_bg {
    background-image: url(../images/c_bg_1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}




/* CONTACTS CONTACTS CONTACTS CONTACTS CONTACTS CONTACTS CONTACTS CONTACTS  */

.c_contacts_bg {
    background-image: url(../images/contacts_bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.c_main-top-text {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    color:black;
}

.c_border {
    border-bottom: #00ce6b 1px solid;
    border-width: 4px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.c_contacts_container {
    display: flex;
    padding: 50px;
    justify-content: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    background-color: #fff;

    transition: box-shadow 1s ease-in-out;
}

.c_contacts_container:hover {
    box-shadow: 0px 0px 100px rgba(217, 255, 217, 0.658);
}

.c_contacts_block {
    width: 33%;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.c_contacts_zero {
    display: none;
}

.c_office {
    text-align: center;
    justify-content: center;

    background-color: #fff;
    width: 40%;
    margin-right: 60px;
}

.c_office_border {
    border-bottom:  #00ce6b 1px solid;
    border-width: 3px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-left: 41%;
    margin-right: 41%;
}

.c_office_main-text {
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 16px;
    margin-top: 0px;
}

.c_office_number-text {
    color: #333333;
    font-weight: 400;
    margin-top: 18px;
    text-decoration: none;
}

.c_office_number-text:hover {
    text-decoration: underline;
}

.c_office_info-text {
    color: #333333;
    font-weight: 400;
    margin-top: 18px;
}

.c_office_info-text1 {
    color: #333333;
    font-weight: 400;
    margin-top: 18px;
    text-decoration: none;
}
.c_office_info-text1:hover {
    text-decoration: underline;
}

.c_bot_contacts {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}

.c_contacts {
    text-align: center;
    justify-content: center;
    border-radius: 80px;
    background-color: #fff;
    width: 40%;
    padding: 50px 0;
    margin-right: 25px;

    transition: box-shadow 1s ease-in-out;
}

.c_contacts:hover {
    box-shadow: 0px 0px 100px rgba(217, 255, 217, 0.658);
}

.c_contacts_form {
    text-align: center;
}

.c_contacts_thank {
    margin-top: 150px;
    justify-content: center;
    color: #333333;
    font-weight: 400;
    font-size: 18px;
}

.c_map {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;

    transition-property: opacity, box-shadow;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

.c_map:hover {
    box-shadow: 0px 0px 100px rgba(217, 255, 217, 0.658);
}